.forecast {
  font-size: 14px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.forecast li {
  list-style: none;
}

@media (max-width: 241px) {
  .forecast {
    width: auto;
  }
}
