.info-container {
  flex-grow: 0.95;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.weather-info-container {
  flex-grow: 0.95;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.weather-conditions {
  flex-grow: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 20px;
}

.current-temperature {
  font-size: 60px;
  border-bottom: 2px dashed white;
}

.min-max-temps {
  display: flex;
  justify-content: space-around;
}
